#!/usr/bin/make -f

SHELL := /bin/bash

override_dh_auto_configure:
	dh_auto_configure \
		-- \
		-Dbash_completion=enabled \
		-Dgtk_doc=false \
		-Dman=false

override_dh_auto_install:
	dh_auto_install

override_dh_auto_test:

override_dh_auto_clean:

%:
	dh $@ --buildsystem=meson
